TELEGRAM_TOKEN=

NVR_TYPE=frigate

FRIGATE_REMOTE_URL=https://frigate.some-domain.com/
FRIGATE_AUTH_SECRET=
FRIGATE_AUTH_USER=spotter

AUTH_SECRET=somesecret

DATABASE_URL="mongodb://localhost:27017/spotter?authSource=admin&replicaSet=rs0&retryWrites=true&w=majority&directConnection=true"

KAFKA_CLIENT_ID=@spotter/bot
KAFKA_BROKERS=localhost:9092
KAFKA_GROUP_ID=spotter-bot

KAFKA_ACTION_HEARTBEAT=3000 # 3s
KAFKA_ACTION_TIMEOUT=300000 # 5m

MEDIA_STRATEGY=link # link | buffer | decide
