# IDE files
/.idea
/.vscode

# Bundles
/dist

# System-related
/.DS_Store

# Deployment
/.deployment
/.docker
/.github

# Caching
/.turbo
/.vite
/*/**/.turbo
/*/**/.vite

# GIT
/.git
.gitignore
.gitattributes

# Environments and configuration
.env.example
config.ts

# Development configurations
biome.json
.releaserc

# Testing
coverage*

# Docker
docker-compose*
Dockerfile*
.dockerignore

# Other
CHANGELOG.md
LICENSE.md
