# IDE files
/.idea
/.vscode

# Bundles
/dist

# System-related
/.DS_Store

# Deployment
/.deployment
/.docker
/.github
/.turbo

# Caching
/.turbo
/.vite
/*/**/.turbo
/*/**/.vite

# GIT
/.git
.gitignore
.gitattributes

# Temporary
/*/**/temp

# Environments and configuration
.env.example
config.ts

# Development configurations
biome.json
.releaserc

# Testing
coverage*

# Docker
docker-compose*
apps/bot/Dockerfile
.dockerignore

# Other
CHANGELOG.md
LICENSE.md
