# IDE files
/.idea
/.vscode

# Bundles
/dist
/**/*/dist

# System-related
/.DS_Store

# Deployment
/.integration
/.deployment
/.docker
/.github
/.turbo

# Build cache
/*/**/.build-meta
/.turbo
/.vite
/*/**/.turbo
/*/**/.vite

# GIT
/.git
.gitignore
.gitattributes

# Temporary
/*/**/temp

# Environments and configuration
apps/bot/.env.example
config.ts
bot.config.ts

# Development configurations
biome.json
.releaserc.json

# Testing
coverage*
**/*/coverage*

# Docker
docker-compose*
apps/bot/Dockerfile
.dockerignore

# Other
CHANGELOG.md
LICENSE.md
