# Kafka Configuration
KAFKA_CLIENT_ID=spotter-sink
KAFKA_BROKERS=kafka:29092
KAFKA_GROUP_ID=spotter-sink
KAFKA_ACTION_HEARTBEAT=3000
KAFKA_ACTION_TIMEOUT=30000

# MQTT Configuration
MQTT_BROKER=mqtt://mosquitto:1883
