TELEGRAM_TOKEN=

FRIGATE_REMOTE_URL=http://frigate.some-domain.com/
FRIGATE_AUTH_SECRET=
FRIGATE_AUTH_USER=elercam

AUTH_SECRET=somesecret

MQTT_URL=mqtt://localhost:1883
DATABASE_URL="mongodb://root:example@mongo:27017/elercam"
