# Kafka Configuration
KAFKA_CLIENT_ID=spotter-depot-2
KAFKA_BROKERS=kafka:29092
KAFKA_GROUP_ID=spotter-depot-2
KAFKA_ACTION_HEARTBEAT=3000
KAFKA_ACTION_TIMEOUT=30000

# S3/MinIO Configuration
S3_HOST=http://minio:9000
S3_ACCESS=admin
S3_SECRET=some-minio-access
S3_BUCKET=spotter

# Directory Cleanup Strategy
DIRECTORY_CLEANUP=file-processed
