# Redis Streams Configuration
REDIS_URL=redis://redis:6379
REDIS_GROUP_ID=spotter-depot
REDIS_CLIENT_ID=spotter-depot-2

# S3/MinIO Configuration
S3_HOST=http://minio:9000
S3_ACCESS=admin
S3_SECRET=some-minio-access
S3_BUCKET=spotter

# Directory Cleanup Strategy
DIRECTORY_CLEANUP=file-processed
