/node_modules
/lib
/dist
/**/*/dist
/coverage
/**/*/coverage
/.docker
/.idea
/.turbo
/.vite
/*/**/.turbo
/*/**/.vite

/*/**/.turbo
/*/**/temp

# Databases
*.db
*.db-journal

# Environment
.env
/*/**/.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Production-based configuration
config.ts
bot.config.ts

# Environment compose
docker-compose.yml

# NPM-driven files
package-lock.json
