KAFKA_CLIENT_ID=@spotter/depot
KAFKA_BROKERS=localhost:9092
KAFKA_GROUP_ID=spotter-depot

KAFKA_ACTION_HEARTBEAT=3000 # 3s
KAFKA_ACTION_TIMEOUT=300000 # 5m

DIRECTORY_CLEANUP=file-processed # file-processed | process-exit

MINIO_HOST=localhost
MINIO_PORT=9010
MINIO_SSL=false
MINIO_ACCESS=
MINIO_SECRET=

VIDEO_SKIP_CONVERSION=false
VIDEO_ACCELERATION=cpu # cpu | vaapi | cuda | videotoolbox | skip
VIDEO_CODEC=hevc # h264 | hevc
VIDEO_QUALITY=normal # best | good | normal | bad | awful
VIDEO_DEVICE=0

IMAGE_QUALITY=normal # best | good | normal | bad | awful
